<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IUser">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUsersManager">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserSession">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendship">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserFriendRequest">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IReport">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IRoom">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMessage">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPlayersRoom">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IBoard">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8081/UserController" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IUser" contract="ServiceReference.IUser"
    name="NetTcpBinding_IUser" />
   <endpoint address="net.tcp://localhost:8081/UserFriendController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsersManager"
    contract="ServiceReference.IUsersManager" name="NetTcpBinding_IUsersManager" />
   <endpoint address="net.tcp://localhost:8081/UserSessionController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserSession"
    contract="ServiceReference.IUserSession" name="NetTcpBinding_IUserSession" />
   <endpoint address="net.tcp://localhost:8081/FriendshipController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendship"
    contract="ServiceReference.IFriendship" name="NetTcpBinding_IFriendship" />
   <endpoint address="net.tcp://localhost:8081/FriendRequestController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserFriendRequest"
    contract="ServiceReference.IUserFriendRequest" name="NetTcpBinding_IUserFriendRequest" />
   <endpoint address="net.tcp://localhost:8081/ReportController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReport"
    contract="ServiceReference.IReport" name="NetTcpBinding_IReport" />
   <endpoint address="net.tcp://localhost:8081/RoomController" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IRoom" contract="ServiceReference.IRoom"
    name="NetTcpBinding_IRoom" />
   <endpoint address="net.tcp://localhost:8081/MessageController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessage"
    contract="ServiceReference.IMessage" name="NetTcpBinding_IMessage" />
   <endpoint address="net.tcp://localhost:8081/PlayersRoomController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayersRoom"
    contract="ServiceReference.IPlayersRoom" name="NetTcpBinding_IPlayersRoom" />
   <endpoint address="net.tcp://localhost:8081/BoardController"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBoard"
    contract="ServiceReference.IBoard" name="NetTcpBinding_IBoard" />
  </client>
	</system.serviceModel>
</configuration>